#specialties {
  width: auto;
}
.query {
  display: grid;
  grid-template-rows: auto;
  row-gap: 1px;
  margin: auto;
  width: 95%;
  text-align: center;
}
h3 {
  margin-top: 5px;
  text-align: center;
}
.shipQuery,
.otherQuery,
.engineeringQuery,
.specializationQuery {
  width: 90%;
  border: 5px solid gray;
  padding: 5px;
  border-radius: 15px;
  margin: 5px;
  text-align: center;
}
.engineeringQuery > p,
.specializationQuery > p {
  color: rgba(255, 255, 255, 0.7);
}
.shipQuery {
  display: flex;
  flex-direction: column;
}

.specialButtons > button {
  margin: 3px;
}
.specialButtons {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
}

.reset {
  text-align: center;
}
button img,
label > img {
  height: 20px;
  width: 20px;
}
.engButton {
  display: flex;
}
.shipSizeQuery {
  margin: auto;
}
.otherButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.showVariants,
.guardian,
.powerplay,
.beginner {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  margin: 0 10px;
}
.showVariants > div,
.guardian > div,
.powerplay > div,
.beginner > div {
  margin: auto;
  padding: 5px;
}
.showVariants > label,
.guardian > label,
.powerplay > label,
.beginner > label {
  height: 25px;
  margin-top: 5px;
}
.beginner {
  border: 3px solid #00b3f7;
  border-radius: 5px;
}

@media only screen and (min-width: 1005px) {
  .query {
    display: grid;
    grid-template: 1fr 1fr 0.1fr / 1fr 0.5fr;
    row-gap: 5px;
    column-gap: 5px;
    margin: auto;
  }
  .engineeringQuery {
    grid-column: 2;
    grid-row: 1;
  }
  .reset {
    grid-column: 1 / 3;
  }

  .specialButtons {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
  }

  .shipQuery,
  .otherQuery,
  .engineeringQuery,
  .specializationQuery {
    width: 98%;
    border: 5px solid gray;
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
    text-align: center;
  }
}
@media only screen and (min-width: 900px) {
  .shipQuerySection {
    display: flex;
    flex-direction: row;
  }
  .shipQuerySection > .shipTypeQuery {
    min-width: 200px;
    margin: 5px;
    flex: 1 0;
  }
}

/* .shipQuery,
.otherQuery,
.engineeringQuery,
.specializationQuery */
